<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tekarch">
<parameter name="url" value="https://selenium-prd.firebaseapp.com/"></parameter>

<listeners>
<listener class-name="com.training.listeners.TestListener">></listener>
</listeners>

<test name="Login">
  <classes>
	 	
	<class name ="com.training.testcases.LeadsTest"/>
 
	 </classes>
 
 </test>
 
 
 
 </suite>